title: Princeton Geophysics
author: Princeton Geophysics
description: Collection of docs and tutorials written by members of the Princeton Geophysics group.
permalink: pretty
plugins:
  - jekyll-relative-links
  - jekyll-remote-theme
relative_links:
  enabled: true
  collections: true
toc:
  enabled: true
  h_min: 1
  h_max: 4
remote_theme: just-the-docs/just-the-docs
color_scheme: "dark"
social-network-links:
  email: "lsawade@princeton.edu"
  # rss: true  # remove this line if you don't want to show an RSS link at the bottom
  github: lsawade

url-pretty: "Princeton Geophysics"

heading_anchors: true

render_with_liquid: false

# Supports true (default) or false
search_enabled: true
search:
  # Split pages into sections that can be searched individually
  # Supports 1 - 6, default: 2
  heading_level: 2
  # Maximum amount of previews per search result
  # Default: 3
  previews: 2
  # Maximum amount of words to display before a matched word in the preview
  # Default: 5
  preview_words_before: 3
  # Maximum amount of words to display after a matched word in the preview
  # Default: 10
  preview_words_after: 3
  # Set the search token separator
  # Default: /[\s\-/]+/
  # Example: enable support for hyphenated search words
  tokenizer_separator: /[\s/]+/
  # Display the relative url in search results
  # Supports true (default) or false
  rel_url: true
  # Enable or disable the search button that appears in the bottom right corner of every page
  # Supports true or false (default)
  button: false

include:
  - figures
  - figures/environments.png

# readme_index:
#   enabled:          true
#   remove_originals: false
#   with_frontmatter: false

# Colors
# navbar-col: "#EAEAEA"
# navbar-text-col: "#404040"
# navbar-border-col: "#DDDDDD"
# page-col: "#FFFFFF"
# text-col: "#404040"
# link-col: "#008AFF"
# hover-col: "#0085A1"
# footer-col: "#EAEAEA"
# footer-text-col: "#777777"
# footer-link-col: "#404040"
# footer-hover-col: "#0085A1"
